depexts: [
  ["capstone-devel"] {os-family = "fedora"}
  ["capstone-dev"] {os-distribution = "alpine"}
  ["libcapstone-dev"] {os-family = "debian" | os-family = "ubuntu"}
  ["capstone"] {os = "macos" & os-distribution = "macports"}
  ["capstone"] {os = "macos" & os-distribution = "homebrew"}
  ["capstone"] {os = "freebsd"}
  ["capstone"] {os-distribution = "nixos"}
  ["capstone"] {os-family = "arch"}
]
